@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  #root {
    @apply min-h-screen bg-white text-slate-950 dark:bg-slate-950 dark:text-slate-50;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html,
body {
  overflow-x: clip; /*For components overflow fix*/

  max-width: 100vw;
  position: relative;
}

#root {
  position: relative;
}
/* Shimmer Animation Keyframes */
@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-shimmer {
  background-size: 200% 200%;
  animation: shimmer 2s ease infinite;
}
