<Columns>
    <p>Current count: @currentCount</p>
    <TextButton Content="Click me" OnClick="IncrementCount" BackgroundColor="@Spectre.Console.Color.Grey" />
</Columns>


@code {
    private int currentCount = 0;
    private void IncrementCount()
    {
        currentCount++;
        StateHasChanged();
    }
}
