@namespace RazorConsole.Components

@using System
@using Microsoft.AspNetCore.Components
@using RazorConsole.Components
@using RazorConsole.Core
@using RazorConsole.Core.Rendering
@using RazorConsole.Gallery.Models
@using RazorConsole.Core.Rendering.Focus
@using Spectre.Console
@using RazorConsole.Gallery.Components

<p>hello</p>
<Counter />
<Counter />
