@namespace RazorConsole.Components

@using Microsoft.AspNetCore.Components
@using RazorConsole.Gallery.Models

<div class="input-name">
    <label for="name-entry">Your name</label>
    <p class="instructions"><strong>@Model.Name</strong></p>
</div>

@code {
    [Parameter]
    public required GreetingModel Model { get; set; }
}
