@namespace RazorConsole.Components

@using Microsoft.AspNetCore.Components
@using RazorConsole.Core.Rendering.ComponentMarkup
@using Spectre.Console
@using System.Composition
@inherits RenderableConverterComponentBase<PanelRenderableConverter>
@attribute [Export(typeof(RenderableConverterComponentBase<PanelRenderableConverter>))]

<div data-border="panel"
     data-header="@Header"
     data-header-color="@HeaderColor"
    data-border-color="@BorderColor"
    @attributes="RemainingAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Header { get; set; }

    [Parameter]
    public Color? HeaderColor { get; set; }

    [Parameter]
    public Color? BorderColor { get; set; }
}
