@namespace RazorConsole.Components

@using System.Globalization
@using Microsoft.AspNetCore.Components
@using RazorConsole.Core.Rendering.ComponentMarkup
@using Spectre.Console
@inherits RenderableConverterComponentBase<ColumnsRenderableConverter>

<div data-columns="true"
    data-columns-expand="@ExpandAttribute"
    data-columns-padding="@PaddingAttribute"
    @attributes="RemainingAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool Expand { get; set; }

    [Parameter]
    public Padding? Padding { get; set; }

    private string? ExpandAttribute => Expand ? "true" : null;

    private string? PaddingAttribute
    {
        get
        {
            if (Padding is not { } padding)
            {
                return null;
            }

            return string.Join(",",
                padding.Left.ToString(CultureInfo.InvariantCulture),
                padding.Top.ToString(CultureInfo.InvariantCulture),
                padding.Right.ToString(CultureInfo.InvariantCulture),
                padding.Bottom.ToString(CultureInfo.InvariantCulture));
        }
    }
}
