@namespace RazorConsole.Components

@using System.Globalization
@using Microsoft.AspNetCore.Components

<div data-columns="true"
     data-spacing="@SpacingAttribute">
    @ChildContent
</div>

@code {
    [Parameter]
    public int Spacing { get; set; } = 2;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string? SpacingAttribute => Spacing > 0
        ? Spacing.ToString(CultureInfo.InvariantCulture)
        : null;
}
