@namespace RazorConsole.Components

@using Microsoft.AspNetCore.Components
@using RazorConsole.Core.Rendering.ComponentMarkup
@using System.Composition
@inherits RenderableConverterComponentBase<RowsRenderableConverter>
@attribute [Export(typeof(RenderableConverterComponentBase<RowsRenderableConverter>))]

<div data-rows="true"
    data-expand="@ExpandAttribute"
    @attributes="RemainingAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool Expand { get; set; }

    private string? ExpandAttribute => Expand ? "true" : null;
}
