@namespace RazorConsole.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using System.Composition

<div class="row"
    data-expand="@ExpandAttribute">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool Expand { get; set; } = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string? ExpandAttribute => Expand ? "true" : "false";
}
