@namespace RazorConsole.Components

@using System.Collections.Generic
@using Microsoft.AspNetCore.Components
@using Spectre.Console

<td data-align="@AlignAttribute" @attributes="AdditionalAttributes">
    @ChildContent
</td>

@code {
    /// <summary>
    /// Table data cell for <see cref="SpectreTable"/>.
    /// </summary>
    /// <remarks>
    /// Use within <see cref="SpectreTR"/> in <see cref="SpectreTBody"/> or <see cref="SpectreTFoot"/> to define data cells.
    /// </remarks>

    /// <summary>
    /// Content of the data cell.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Horizontal alignment of the cell content. Options: <see cref="Justify.Left"/>, <see cref="Justify.Center"/>, <see cref="Justify.Right"/>. If <c>null</c>, uses default.
    /// </summary>
    [Parameter]
    public Justify? Align { get; set; }

    /// <summary>
    /// Additional HTML attributes for the td element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object?>? AdditionalAttributes { get; set; }

    private string? AlignAttribute => Align switch
    {
        Justify.Left => "left",
        Justify.Right => "right",
        Justify.Center => "center",
        _ => null,
    };
}