@namespace RazorConsole.Components

@using Microsoft.AspNetCore.Components

<div data-spinner="true"
     data-message="@Message"
     data-style="@Style"
     data-spinner-type="@SpinnerType"
     data-auto-dismiss="@AutoDismiss"></div>

@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public global::Spectre.Console.Spinner SpinnerType { get; set; } = global::Spectre.Console.Spinner.Known.Dots;

    [Parameter]
    public bool AutoDismiss { get; set; }
}
