@namespace RazorConsole.Components

@using Microsoft.AspNetCore.Components
@using RazorConsole.Core.Rendering.ComponentMarkup
@inherits RenderableConverterComponentBase<TextRenderableConverter>

<span data-text="true"
    data-style="@Style"
    @attributes="RemainingAttributes">@Value</span>

@code {
    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public string? Style { get; set; }
}
